[buildout]
# NOTE: tests are passing in Plone 3, but there is an error when cleaning up the layers.
extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-3.x.cfg
extensions +=
    buildout.dumppickedversions
    mr.developer
package-name = zest.ploneglossaryhighlight
test-eggs = zest.ploneglossaryhighlight[test]
parts +=
    coverage-report
    omelette
always-checkout = true
#auto-checkout = *


[sources]
Products.PloneGlossary = svn https://svn.plone.org/svn/collective/Products.PloneGlossary/trunk


[versions]
collective.recipe.omelette = 0.12
buildout.dumppickedversions = 0.4
Products.PloneGlossary = 1.5.0

# For Plone 3:
Products.CMFPlone = 4.0b1
archetypes.schemaextender = 2.0.3
argparse = 1.2.1
distribute = 0.6.24
mr.developer = 1.19
plone.app.testing = 3.0a1
plone.testing = 3.0a2
unittest2 = 0.5.1
z3c.coverage = 1.2.0


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


# Coverage report generator.
# Run: ``bin/test --coverage=coverage``
# and then: ``bin/coveragereport``
[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('parts/test/coverage', 'coverage')
